
*.log
*.pyc
*.log
*.log
*.1
*.2
*.log
log/astro.log
*.log
*.log
*.3
log/astro.log
*.log
log/astro.log
astro.ini
log/astro.log.3
log/astro.log
log/astro.log
*.log
log/astro.log
log/astro.log
log/astro.log.3
*.log
